# Don't track your API keys or environment settings
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter or Streamlit cache
.ipynb_checkpoints
.streamlit/

# Environment folders
env/
.venv/
venv/
.mlagent/  # in case conda env name is mlagent

# VS Code settings (optional)
.vscode/
